/* Dynasty.css */

.dynasty-card {
    width: 100%;
    margin-bottom: 1.5rem; /* 卡片之间的间距 */
}

.poet-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 8px; /* 使用gap来控制项目间的间距 */
}

.poet-item {
    display: flex;
    align-items: center; /* 垂直居中对齐 */
    padding: 4px; /* 减少外部填充 */
}

.poet-item a {
    display: block;
    padding: 8px;
    text-align: center;
    background-color: #e9ecef; /* 仅对链接应用背景色 */
    border-radius: 3px;
    color: #343a40;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1; /* 允许增长以填满可用空间 */
    min-width: 50px; /* 设置最小宽度以防止过窄 */
}

.poet-item a:hover {
    background-color: #dee2e6;
}