.cell-con-A {
    background: #eee4da;
}

.cell-con-B {
    background: #ede0c8;
}

.cell-con-C {
    color: #f9f6f2;
    background: #f2b179;
}

.cell-con-D {
    color: #f9f6f2;
    background: #f59563;
}

.cell-con-E {
    color: #f9f6f2;
    background: #f67c5f;
}

.cell-con-F {
    color: #f9f6f2;
    background: #f65e3b;
}

.cell-con-G {
    color: #f9f6f2;
    background: #edcf72;
    font-size: 30px;
}

.cell-con-H {
    color: #f9f6f2;
    font-size: 30px;
    background: #edcc61;
}

.cell-con-I {
    color: #f9f6f2;
    font-size: 30px;
    background: #edc850;
}

.cell-con-J {
    color: #f9f6f2;
    font-size: 25px;
    background: #edc53f;
}

.cell-con-K {
    color: #f9f6f2;
    font-size: 25px;
    background: #edc22e;
}

.cell-con-L {
    color: #f9f6f2;
    font-size: 25px;
    background: #298034;
}

.cell-con-M {
    color: #f9f6f2;
    font-size: 25px;
    background: #1f4e75;
}

.cell-con-N {
    color: #f9f6f2;
    font-size: 25px;
    background: #e20623;
}

.cell-con-O {
    color: #f9f6f2;
    font-size: 25px;
    background: #02f30e;
}

.cell-con-P {
    color: #f9f6f2;
    font-size: 25px;
    background: #02f30e;
}

.cell-con-Q {
    color: #f9f6f2;
    font-size: 25px;
    background: #02f30e;
}

.cell-con-R {
    color: #f9f6f2;
    font-size: 25px;
    background: #04f769;
}

.cell-con-S {
    color: #f9f6f2;
    font-size: 25px;
    background: #04f769;
}

.cell-con-T {
    color: #f9f6f2;
    font-size: 25px;
    background: #04f769;
}

.cell-con-U {
    color: #f9f6f2;
    font-size: 25px;
    background: #04f769;
}

.cell-con-V {
    color: #f9f6f2;
    font-size: 25px;
    background: #04f769;
}

.cell-con-W {
    color: #f9f6f2;
    font-size: 25px;
    background: #04f769;
}

.cell-con-X {
    color: #f9f6f2;
    font-size: 25px;
    background: #04f769;
}

.cell-con-Y {
    color: #f9f6f2;
    font-size: 25px;
    background: #04f769;
}

.cell-con-Z {
    color: #f9f6f2;
    font-size: 25px;
    background: #04f769;
}