/* qrcode.css */

.qrcontainer {
    font-family: 'Arial', sans-serif;
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabs a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    /* 移除默认的下划线 */
    border-bottom: 2px solid #ccc;
    /* 添加一个灰色的下划线 */
    transition: all 0.3s ease;
}

.tabs a:hover,
.tabs a.active {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    /* 悬停和激活状态下的下划线颜色 */
}

.tab-content {
    display: none;
    padding: 20px 0;
}

.tab-content.active {
    display: block;
}

input[type="text"],
input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="file"]:focus {
    border-color: #007bff;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#qrcodeCanvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 256px;
    border: 1px solid black;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

/* 自定义文件输入样式 */
.custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    text-align: left;
}

.custom-file-label:hover {
    border-color: #007bff;
}

#customLogoInput:focus+.custom-file-label,
#customLogoInput:valid+.custom-file-label {
    border-color: #007bff;
    box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.1), 0 0 4px #007bff;
}