<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Language" content="zh-CN">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9093386396178901"
    crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>龙井、方大城自助台球管家</title>
  <link rel="icon" href="../logo.svg" type="image/svg+xml">
  <link rel="stylesheet" href="../css/style.css">
  <script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.css">
  <script src="../js/clarity.js"></script>
</head>

<body>
  <%- headerContent %>
    <main class="container-fluid">
      <div class="row mt-5">
        <div class="col-lg-8 col-md-12">
          <div class="card">
            <div class="card-body">
              <p id="article-content">
                <%- articleContent %>
              </p>
            </div>
          </div>

          <div id="SOHUCS"></div>
          <script type="text/javascript">
            (function () {
              var appid = 'cyxu7ueP4';
              var conf = 'prod_ff4e62d448f38bedc4a1f89a5125ccd0';
              var width = window.innerWidth || document.documentElement.clientWidth;
              if (width < 1000) {
                var head = document.getElementsByTagName('head')[0] || document.head || document.documentElement;
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.charset = 'utf-8';
                script.id = 'changyan_mobile_js';
                script.src = 'https://cy-cdn.kuaizhan.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf;
                head.appendChild(script);
              } else { var loadJs = function (d, a) { var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement; var b = document.createElement("script"); b.setAttribute("type", "text/javascript"); b.setAttribute("charset", "UTF-8"); b.setAttribute("src", d); if (typeof a === "function") { if (window.attachEvent) { b.onreadystatechange = function () { var e = b.readyState; if (e === "loaded" || e === "complete") { b.onreadystatechange = null; a() } } } else { b.onload = a } } c.appendChild(b) }; loadJs("https://cy-cdn.kuaizhan.com/upload/changyan.js", function () { window.changyan.api.config({ appid: appid, conf: conf }) }); }
            })(); </script>
        </div>
      </div>
    </main>
    <%- footerContent %>



</body>

</html>