<footer class="sticky-footer text-center text-lg-start bg-light text-muted">
    <div class="container text-center py-1">
      <section>
        <span id="busuanzi_container_site_pv">本站总访问量<span id="busuan.imgur.com/value_site_pv"></span>次</span>
        <a href="aboutus.html">关于我们</a>
        <a href="contactus.html">联系我们</a>
      </section>
    </div>
  </footer>