<footer class="sticky-footer text-center text-lg-start bg-light text-muted">
  <div class="container text-center py-1">
    <section>
      <span id="busuanzi_container_page_pv">本页面访问量<span id="busuanzi_value_page_pv"></span>次</span>
      <a href="../mdhtml/关于我们.html">关于我们</a>
      <a href="../html/contactus.html">联系我们</a>
    </section>
  </div>
</footer>