<header>
  <div>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <ul class="navbar-nav d-flex flex-row flex-wrap">
          <li class="nav-item">
            <a class="nav-link" href="../html/index.html">首页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../html/photos.html">相册</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../html/tools.html">工具</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>