<header>
  <div>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <ul class="navbar-nav d-flex flex-row flex-wrap">
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="../html/index.html">
              <img src="../logo.svg" alt="Logo" style="max-width: 24px;max-height: 24px; margin-right:1px;">
              自助工具站
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../html/photos.html">相册</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../html/dianzhangbiji.html">想法</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../html/gongzhonghao.html">公众号</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../html/tools.html">工具</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../html/games.html">游戏</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../sghtml/dynasties.html">诗词</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>