<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= poet.name %></title>
</head>
<body>
    <h1><%= poet.name %></h1>
    <p><%= poet.description %></p>
    <h2>诗作列表</h2>
    <ul>
        <% poet.poemIds.forEach(poemId => { %>
            <li><%= poemId %></li>
        <% }) %>
    </ul>
</body>
</html>